.accordionItem{
    border-color: #61D5EE;
    border-width: 2px;
    width: 60vw;
}

.accordion{
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.workoutCreateForm{
    width: 60vw;
}
.progressInput{
    width: 30vw;
    margin: 1vw;
}

.workoutInProgress{
    width: 60vw;
}

.progressInfo{
    display: flex;
    flex-direction: row;
}

.notesInput{
    margin: 1vw;
}

.main{
    width: 60vw;
}